@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

.body {
    text-align: center;

}

.nav-bar {
    height: 65px;
    margin-left: 52px;
    margin-top: 44px;
    margin-right: 52px;

    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.11);
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav_container {
    display: flex;
    align-items: center;
}

.nav-bar ul {
    display: inline-block;
    padding-left: 0;
}

.nav-bar li {
    display: inline-block;
}

.nav-bar a {
    text-decoration: none;
    margin-right: 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color: #000000;
}

.auth_btn {
    margin-right: 32px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
}

.primary_btn {
    width: 69px;
    height: 39px;
    border: 1px solid #EBEBEB;
    background-color: #FFFFFF;
    color: #E30C40;
    border-radius: 4px;
}

.secondary_btn {

    background: #E30C40;
    border-radius: 4px;
    width: 78px;
    height: 39px;
    color: #FFFFFF;
    margin-left: 17px;
    border: none;

}


.logo {
    width: 32.96px;
    height: 42.95px;
    margin-left: 33px;
    margin-right: 53px;

}

.nav-btl {
    margin-left: 466px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 11px;
    color: #E30C40;
}

.firstimg {
    width: 410x;
    height: 410px;
    margin-right: 113px;
    margin-top: 60px;
    float: right;

}

.firstline {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #E30C40;

    margin-top: 121px;
    margin-left: 102px;

}

.secondline {
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 600;
    font-size: 39px;
    line-height: 50px;
    color: #000000;

    margin-top: 7px;
    margin-left: 102px;

}

.thirddiv {
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;

    margin-top: 13px;
    margin-left: 102px;


}

.download-btn {
    width: 163.85px;
    height: 49.16px;
    margin-left: 102.44px;
    margin-top: -17px;
    padding-left: 0px;
    list-style: none;
    display: flex;


}

.apple-btn {
    width: 163.85px;
    height: 49.16px;
    background: #E30C40;
    border-radius: 8px;
    border: none;
    margin-top: 31.76px;
    color: #FFFFFF;


}

.android-btn {
    width: 163.85px;
    height: 49.16px;
    background: #E30C40;
    border-radius: 8px;
    border: none;
    margin-left: 16.38px;
    margin-top: 31.76px;
    color: #FFFFFF;
}



.secondli {
    margin-left: 19.36px;
}

.firstframe {

    width: 551.14px;
    height: 327.03px;
    margin-left: 121.56px;
    margin-top: 253.06px;

}

.secondframe {

    width: 181.9px;
    height: 352.83px;
    margin-top: -110%;
    margin-left: 280.45px;

}

.hey-div {
    margin-right: 189.49px;
    margin-top: -290px;
    float: right;
    margin-left: 103.47px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 39px;
    line-height: 47px;

    color: #E30C40;

}

.sub-div {
    margin-top: -220.08px;
    margin-right: 157px;
    float: right;
    margin-left: 103.47px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    /* or 130% */

    letter-spacing: 0.1px;

    color: #000000;

}